@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.quiz button,
.quiz .quizQuestions ul.questionAnswers li,
.quiz .quizResults li {
  border-radius: 2px;
}

body {
  background-image: url("./img/pattern");
  
}

/*  PLUGIN DEFAULT STYLES    */

.quiz {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  max-width: 920px;
}

.quiz ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz .hidden {
  display: none;
}

.quiz button {
  font: inherit;
  font-size: 14px;
  border: none;
  background: #4789fb;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
  outline: none;
  padding: 10px;
  width: 100%;
}

@media screen and (min-width: 940px) {
  .quiz button {
    width: auto;
  }
}

.quiz button:hover {
  background: #3e77da;
}

.quiz .quizQuestions {
  margin-bottom: 10px;
}

.quiz .quizQuestions > li {
  display: none;
  position: relative;
}

.quiz .quizQuestions > li.showQuestion {
  display: block;
}

.quiz
  .quizQuestions
  > li.disabled
  .questionAnswers
  li:hover:not(.selectedAnswer) {
  background: initial;
}

.quiz .quizQuestions > li.disabled .questionAnswers li label,
.quiz .quizQuestions > li.disabled .questionAnswers li input[type="radio"] {
  cursor: default;
}

.quiz .quizQuestions > li .questionCount {
  font-size: 14px;
}

.quiz .quizQuestions > li .questionTitle {
  margin: 0;
  padding: 20px 0;
}

.quiz .quizQuestions ul.questionAnswers {
  overflow: hidden;
}

.quiz .quizQuestions ul.questionAnswers li {
  margin-top: 5px;
  border: 1px solid #e2e2e2;
}

.quiz .quizQuestions ul.questionAnswers li:first-child {
  margin: 0;
}

.quiz .quizQuestions ul.questionAnswers li:hover {
  background: #ededed;
}

.quiz .quizQuestions ul.questionAnswers li.selectedAnswer {
  background: #4789fb;
  color: #fff;
}

.quiz .quizQuestions ul.questionAnswers li.incorrectAnswer {
  background: #f02d3a;
  color: #fff;
}

.quiz .quizQuestions ul.questionAnswers li.correctAnswer {
  background: #2ecc71;
  color: #fff;
}

.quiz .quizQuestions ul.questionAnswers label,
.quiz .quizQuestions ul.questionAnswers input[type="radio"] {
  cursor: pointer;
}

.quiz .quizQuestions ul.questionAnswers input[type="radio"] {
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
}

.quiz .quizQuestions ul.questionAnswers label {
  display: inline-block;
  padding: 13px;
  width: 100%;
}

.quiz .quizControls {
  margin-top: 10px;
}

.quiz .quizControls button {
  display: block;
}

@media screen and (min-width: 320px) {
  .quiz .quizControls button {
    display: initial;
    margin-right: 5px;
  }
}

.quiz .quizControls button.ctrlPrev {
  background: #224178;
}

.quiz .quizControls button.ctrlPrev:hover {
  background: #2f5ba7;
}

.quiz .quizControls button.ctrlDone {
  display: none;
}

.quiz .quizControls button.ctrlNext,
.quiz .quizControls button.ctrlDone {
  float: right;
  background: #2ecc71;
}

.quiz .quizControls button.ctrlNext:hover,
.quiz .quizControls button.ctrlDone:hover {
  background: #28b162;
}

.quiz .quizControls button.ctrlSkip {
  background: #9b59b6;
}

.quiz .quizControls button.ctrlSkip:hover {
  background: #874d9e;
}

.quiz .quizControls button.disabled {
  cursor: not-allowed;
  background: #e2e2e2;
}

.quiz .quizControls button.disabled:hover {
  background: #e2e2e2;
}

.quiz .quizResults ul {
  margin: 20px 0 10px;
}

.quiz .quizResults li {
  font-size: 14px;
  padding: 10px;
  border: 1px solid;
  border-left: 10px solid;
  margin-bottom: 10px;
  line-height: 1.5em;
}

@media screen and (min-width: 320px) {
  .quiz .quizResults li {
    padding-left: 20px;
  }
}

.quiz .quizResults .viewResults {
  background: #2ecc71;
}

.quiz .quizResults .viewResults:hover {
  background: #26aa5e;
}

.quiz .quizResults .questionTitle {
  margin: 5px 0 10px;
}

.quiz .quizResults .answeredCorrect {
  border-color: #2ecc71; ;
}

.quiz .quizResults .answeredWrong {
  border-color: #f02d3a;
}

/*# sourceMappingURL=main.css.map */

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  margin-top: 2%;
  height: 100%;
  
}

@media screen and (min-width: 320px) {
  #container {
    width: 320px;
    padding-left: 20px;
  }
}

@media screen and (min-width:320px) {
  #quiz1 {
    width: 320px;
  }
}

#quiz1 {
  width: 990px;
  background: #fff;
  padding: 2rem;
  border-radius: 9px;
  margin: 4rem;
  border-left: 1rem solid   #ef8def;


  
}

#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}







